{% extends "blog/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center mt-5 ">
            <div style="width:600px; height:450px;" class="col-4 p-5 rounded shadow">
                <h3 class="text-decoration-underline">Edit Post</h3>
                <div>
                {% include 'blog/include/error.html'%}
                </div>
                <div class="">
                <div class="my-3">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" name="title" id="title" value="{{post.title|default:""}}">
                            {% if form.title.errors %}
                            <div class="col-12">
                                <p class="text-danger">{{ form.title.errors.0 }}</p>
                            </div>
                        {% endif %}
                        </div>
                       
                        <div class="form-group">
                            <label for="content" class="form-label">Content</label>
                            <textarea class="form-control" id="content" name="content" >{{post.content|default:""}}</textarea>
                            {% if form.content.errors %}
                            <div class="col-12">
                                <p class="text-danger">{{ form.content.errors.0 }}</p>
                            </div>
                        {% endif %}
                        </div>
    
                        <div class="form-group mb-3">
                            <label for="category" class="form-label">Category</label>
                            <select class="form-control" id="category" name="category">
                                <option value="">Select</option>
                                {%if categories%}
                                    {%for category in categories%}
                                        <option {% if post.category.id == category.id %}selected {% endif %} value="{{category.id}}">{{category.name}}</option>
                                    {%endfor%}
                                {%endif%}
                            </select>
                            {% if form.category.errors %}
                            <div class="col-12">
                                <p class="text-danger">{{ form.category.errors.0 }}</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="image" class="form-label">Image:</label>
                            <input type="file" class="form-control-file" id="img_url" name="img_url">
                        </div>
                       
                        <div class="d-flex justify-content-end button-container">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
