<header class="p-3 bg-dark text-white">
    <div class="row">
        <div class="col">
            <a href="/" class="text-light text-decoration-none"><h3>Blog test</h3></a>
        </div>
        <div class="col">
            <div style="padding-right:10px;" class="d-flex justify-content-end gap-3">
                <a class="text-light text-decoration-none" href="/">Home</a>
                <a class="text-light text-decoration-none" href="/about">About</a>
                <a class="text-light text-decoration-none" href="/contact">Contact</a>
            </div>
        </div>
    </div>
</header>